.search-modal {
  transform: translateY(100%);
  animation: slideSearchWindow 0.5s ease forwards;
}
@keyframes slideSearchWindow {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
