@import "/public/css-configs/mixins.scss";

/* Hero section  */

.container-fluid {
  background-image: linear-gradient(
    to left,
    #0400ac,
    #2701ac,
    #3902ac,
    #4604ac,
    #5108ac
  );

  @include sm {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 16px;
      margin: 0;
      padding: 0;
    }
    .grid-content {
      grid-template-columns: 1fr !important;
      display: flex;
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      align-items: center;
    }
    .img-banner {
      height: 20rem;
      width: auto;
    }
  }
  @include md {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 16px;
      margin: 0;
      padding: 0;
    }
    .grid-content {
      grid-template-columns: 1fr 1fr !important;
      gap: 20px;
    }

    .img-banner {
      height: 20rem;
      width: auto;
    }
  }
  @include lg {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 16px;
      margin: 0;
      padding: 0;
    }
    .grid-content {
      grid-template-columns: 1fr 1fr !important;
      gap: 40px;
    }
    .img-banner {
      height: 28rem;
      width: auto;
    }
  }
}

button {
  transition: all 0.1s ease-in;
}

:hover.btn-read {
  background-color: #fff;
  color: black;
}
:hover.btn-shop {
  background-color: transparent;
  color: white;
}

/* end hero section */
