.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container h2 {
  font-size: 42px;
  font-weight: 800;
}

.container p {
  font-size: 14px;
  font-weight: 500;
  max-width: 900px;
}
