@import "/public/css-configs/mixins.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

.dropbtn {
  font-family: montserrat;
  color: white;
  font-size: 14px;
  margin-top: 7px;
  margin-left: -10px;
  border: none;
  width: fit-content;
}

// .dropdown {
//   color: black;
//   position: relative;
//   display: inline-block;
//   border-radius: 10px 10px 10px 10px;
//   z-index: 1;
// }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #202020;
  min-width: 120px;
  z-index: 1;
  // left: 80%;
  // top: 80%;
  top: 70%;
  left: 0;
  border-radius: 10px;
  // box-shadow: 0px 0px 100px rgba(190, 200, 255, 0.25);
}

.dropdown-content a {
  // color: white;
  padding: 6px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  margin: 5px;
  margin-top: 20px;
  color: #fff;
  border: 2px solid white;
  background: transparent;
}

.dropdown-content a:hover {
  background-color: #fff;
  color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Header section */

.sticky-header {
  position: sticky !important;
  top: 0;
  animation: stickyHeader 0.7s ease forwards;
  z-index: 999;
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

.nav-links {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Add padding to create space for the border */
}

.nav-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px; /* Border height */
  background-color: #940bf0; /* Border color */
  transition: width 0.3s ease-in-out; /* Adjust the transition timing */
}

.nav-links:hover::after {
  width: 100%;
}

.logout-btn {
  border: 1px solid white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  background: #fff;
  width: 100%;
  &:hover {
    color: #fff !important;
    background: transparent;
  }
}

.hr {
  background-color: rgba(255, 255, 255, 0.237);
  width: 100%;
  height: 1px;
  margin-top: 0.3rem;
}

/* end header */
