@import "/public/css-configs/mixins.scss";

/* Header section */

.sticky-header {
  position: sticky !important;
  top: 0;
  animation: stickyHeader 0.7s ease forwards;
  z-index: 999;
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

.nav-links {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; /* Add padding to create space for the border */
}

.nav-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px; /* Border height */
  background-color: #940bf0; /* Border color */
  transition: width 0.3s ease-in-out; /* Adjust the transition timing */
}

.nav-links:hover::after {
  width: 100%;
}

.logout-btn {
  border: 1px solid white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  background: #fff;
  width: 100%;
  &:hover {
    color: #fff !important;
    background: transparent;
  }
}

/* end header */
